html {
  height: 100%;
  width: 100%;
}
.nyu {
  color: #b973d3;
  font-family: Helvetica;
}

.Hunter {
  color: purple;
  font-family: Cursive;
}
.col{
  color: blue;
  font-family: monospace;
}
.ny {
 display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #cb99f4;
  border-style: groove;
}
.hunt {
 display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #b151b3;
  border-style: outset;
}
.bia {
 display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #b0b6e8;
  border-style: rigid;
}
body{
  background-color: #ffffe0;
}